This is an official release of `{{ model }}` `{{ version }}` to the HPC(s) {% for deployment in deployments %} `{{ deployment.name }}`{{"," if not loop.last else "" }}{% endfor %}.

## Deployment Information
{% for deployment in deployments %}
### `{{ deployment.name }}`

Deployed using [spack {{ deployment.spack_version }}](https://github.com/ACCESS-NRI/spack/tree/{{ deployment.spack_git_hash }}), [spack/spack-packages {{ deployment.builtin_spack_packages_version }}](https://github.com/spack/spack-packages/tree/{{ deployment.builtin_spack_packages_git_hash }}), [ACCESS-NRI/access-spack-packages {{ deployment.access_spack_packages_version }}](https://github.com/ACCESS-NRI/access-spack-packages/tree/{{ deployment.access_spack_packages_git_hash }})  and [spack-config {{ deployment.spack_config_version }}](https://github.com/ACCESS-NRI/spack-config/tree/{{ deployment.spack_config_git_hash }}).

Deployed as a module accessible using:

```bash
module use {{ deployment.modules_location }}
module load {{ root_sbd }}/{{ version }}
```
{% endfor %}
